@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300;1,500&display=swap');

/*Global Styles*/
body {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

.game {
    background-color: #d3d3d3;
    border-radius: 10px;
    width: 50%;
    margin: 0.5vh 25%;
    padding: 0.5vh 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.button {
    border: none;
    background: none;
    font-size: 6rem;
}

.btn-brown {
    color: brown;
}

.btn-yellow {
    color: darkgoldenrod; ;
}

.btn-red {
    color: red;
}

.btn-green {
    color: green;
}

.btn-navy {
    color: navy;
}

.rules {
    background-color: #d3d3d3;
    border-radius: 10px;
    width: 50%;
    margin: 0.5vh 25%;
    padding: 0.5vh 0;
}

@media (max-width: 768px) {
    .game {
        width: 85%;
        margin: 0.5vh 7.5%;
        padding: 0.5vh 0;
    }

    .rules {
        width: 85%;
        margin: 0.5vh 7.5%;
        padding: 0.5vh 0;
    }
}