@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300;1,500&display=swap');

/*Global Styles*/
body {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

h1 {
    font-size: 3em;
}

.game {
    background-color: #d3d3d3;
    border-radius: 10px;
    width: 50%;
    margin: 0.5vh 25%;
    padding: 0.5vh 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#score {
    display: flex;
    flex-direction: row;
    flex: wrap;
    justify-content: space-evenly;
}

.button {
    border: none;
    background: none;
    font-size: 6rem;
}

.btn-brown {
    color: brown;
}

.btn-brown:hover {
    color: #362204;
}

.btn-yellow {
    color: #D6B70A; ;
}

.btn-yellow:hover {
    color: #A68E08
}

.btn-red {
    color: red;
}

.btn-red:hover {
    color: darkred;
}

.btn-green {
    color: green;
}

.btn-green:hover {
    color: darkgreen;
}

.btn-navy {
    color: blue;
}

.btn-navy:hover {
    color: navy
}

.rules {
    background-color: #d3d3d3;
    border-radius: 10px;
    width: auto;
    margin: 0.5vh 25%;
    padding: 0.5vh 8px;
}

@media (max-width: 768px) {

    h1 {
        font-size: 2.5em;
    }

    .game {
        width: auto;
        margin: 0.5vh 7.5%;
        padding: 0.5vh 0;
    }

    .rules {
        width: auto;
        margin: 0.5vh 7.5%;
        padding: 0.5vh 8px;
    }
}